# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

callforhelp-37002-firebase-adminsdk-7ivya-e3e03f01cb.json
