.temp-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin: 0 2rem;
  height: 100vh;

  p {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    color: #113A8C;
    font-weight: 600;
    font-size: 0.875rem;

    &:last-child {
      margin-top: auto;
      margin-bottom: 4.75rem;
    }

    .highlight {
      font-weight: 700;
      text-decoration: underline;
      cursor: pointer;
      color: #113A8C;
      display: inline-block;
      padding: 0;
      margin: 0;
      background: none;
    }
  }
}

.social {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.separator {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 0;
}

.line {
  flex: 1;
  height: 1px;
  background: #6d69be;
}

.or {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;

  span {
    position: relative;
    z-index: 1;
    font-size: 0.625rem;
    font-weight: 600;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}