.generic-button, .generic-button:focus, .generic-button:hover {
    background-color: $btn-bgd;
    width: 100%;
    color: $default-text-color;
    border-radius: $all-pages-btn-radius;
    font-size: $login-page-all-text-size;
    outline: none;
}

@media (hover: none) {
    .generic-button {
        background-color: $btn-bgd;
        width: 100%;
        color: $default-text-color;
        border-radius: $all-pages-btn-radius;
        font-size: $login-page-all-text-size;
        outline: none;
    }
}