.generic-button {
  font-size: $login-page-all-text-size;
  color: $default-text-color;
  border-radius: $all-pages-btn-radius;
  outline: none;
  background-color: $btn-bgd;
  width: 100%;

  &.generic-button:focus,
  &.generic-button:hover {
    color: $default-text-color;
    border-radius: $all-pages-btn-radius;
    outline: none;
    background-color: $btn-bgd;
  }

  &:disabled {
    color: rgba(17, 58, 140, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
  }
}

@media (hover: none) {
  .generic-button {
    background-color: $btn-bgd;
    width: 100%;
    color: $default-text-color;
    border-radius: $all-pages-btn-radius;
    font-size: $login-page-all-text-size;
    outline: none;
  }
}
