.form-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 24rem;
  padding: 0 2rem;
  gap: 2.25rem;
  height: calc(100vh - 136px);

  .form {
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 1.5rem;
    flex: 1;

    button {
      margin-top: auto;
      margin-bottom: 4rem;
    }

    .container {
      color: #113a8c;
      font-size: 0.875rem;
      font-weight: 600;
      position: relative;
      text-align: start;
      padding-right: 1.5rem;
      margin-top: 0.5rem;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .highlighted {
        font-weight: 700;
        text-decoration: underline;
        cursor: pointer;
      }

      .checkmark {
        cursor: pointer;
        position: absolute;
        top: 2px;
        right: 0;
        margin: 0;
        padding: 0;
        width: 16px;
        height: 16px;
        border: 2px solid #113a8c;
        border-radius: 2px;
        background: none;
        outline: none;

        &::after {
          content: '';
          position: absolute;
          width: 16px;
          height: 16px;
          border-radius: 2px;
          display: none;
          top: -2px;
          left: -2px;
          background: #113a8c;
        }

        &.marked::after {
          display: block;
        }
      }
    }
  }
}
