.open-contact-slip {
  position: absolute;
  padding: 1rem;
  height: 3.5rem;
  width: 3.5rem;
  outline: none;
  background: #9360ff;
  border-radius: 4px 0 0 4px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
  margin: auto;
  user-select: none;
  z-index: 5;
}
