@import '../styles/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    color: $default-text-color;
    font: $font;
  }
  width: 100%;
}
.formContainer {
  width: 100%;
  margin-bottom: 100px;
}
.form-helper {
  display: flex;
  flex-direction: column;
  background-color: $chat-input-bgd;
  margin-top: 10px;
  border-radius: $login-page-input-radius;
  width: 100%;
  padding: 10px;
  ul,
  p {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: red;
    font-size: 12px;
  }
  p::before {
    content: '⚠️';
    margin-left: 5px;
    margin-right: 5px;
  }
}
.form-submit-btn {
  background-color: $btn-bgd;
  border-radius: $all-pages-btn-radius;
  margin-top: 10px;
}

.form-field-hint {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-110%, -50%);
  background-color: $chat-input-bgd;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  p {
    margin: 0;
    padding: 0;
  }
}

.form-field-hint-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f0f0f0;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.input-error {
  outline: $input-outline-error;
}
.input-error:focus {
  outline: $input-outline-focus;
}
