@import "./variables.scss";

.chat-page {
    background: linear-gradient(360deg, #BAA6F1 -1.2%, rgba(166, 192, 241, 0) 112.26%);
    height: 100vh;
    width: 100vw;
    position: relative;

    .messages {
        height: fit-content;
        max-height: 87%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .massage-body {
            max-width: 80%;
            width: fit-content;
            height: fit-content;
            padding: 3%;
            margin: 3%;
            background: #f1ebff;
            border-radius: 8px 8px 0px 8px;
            align-self: flex-start;
            font-size: $chat-msg-text-size;
            
        }

        .massage-body.sender {
            background: #FFFFFF;
            background-blend-mode: screen;
            border-radius: 8px 8px 8px 0;
            align-self: flex-end;
        }
        

    }

    .chat-top-bar {
        width: 100%;
        height: 13%;
        background-color: #FFFFFF;
        border-radius: 0px 0px 8px 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 10%;


        .top-bar-text {
            height: fit-content;
            display: flex;
            flex-direction: column;

            .title {
                font-size: 20px;
                font-weight: bold;
            }
            
            .sub-title {
                font-size: 14px;
            }
        }

        .top-bar-close {
            
        }
    }

    .chat-input {
        height: 11%;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;

        .chat-input-parts {
            margin: 0 auto;
            width: 92%;
            height: 70%;
            border: 2px solid #9360FFEB;
            border-radius: $chat-input-radius;
            background-color: $chat-input-bgd;
            display: flex;
            justify-content: space-between;
            
            .chat-input-box {
                background-color: $chat-input-bgd;
                width: 85%;
                height: 100%;
                outline: none;
                border: none;
                border-radius:  0 $chat-input-radius $chat-input-radius 0;
                box-sizing: border-box;
                display: inline-block;
                padding-right: 10px;
                font-size: $chat-msg-text-size;
            }
        
            .chat-input-send {
                height: 5vh;
                width: 5vh;
                background-color: $chat-send-btn-bgd;
                border-radius: 50%;
                align-self: center;
                margin-left: 10px;
            }
        
        }

    }


}

