@import "variables";

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    * {
        color: $default-text-color;
        font: $font;
    }
    width: 100%;
    padding: 50px;
}
.form-field-rtl {
    align-items: flex-end;
}
.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
}
.form-field-input {
    background-color: aliceblue;
    padding: 10px;
    border-radius: $login-page-input-radius;
    border: $login-input-border;
    width: 100%;
    box-sizing: border-box;
}
.form-field-input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}
.form-helper {
    display: flex;
    flex-direction: column;
    background-color: $chat-input-bgd;
    margin-top: 10px;
    border-radius: $login-page-input-radius;
    width: 100%;
    padding: 10px;
    ul,
    p {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    p::before {
        content: "⚠️";
        margin-left: 10px;
    }
}
.form-submit-btn {
    background-color: $btn-bgd;
    border-radius: $all-pages-btn-radius;
    margin-top: 10px;
}

.input-error {
    border: 1px solid red;
}
.form-field-eye {
    position: absolute;
    width: null;
    left: 10px;
    top: 50%; /* Vertically center the icon within the input field */
    transform: translateY(-50%);
}

.form-field-hint {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-110%, -50%);
    background-color: $chat-input-bgd;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    p {
        margin: 0;
        padding: 0;
    }
}

.form-field-hint-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f0f0f0;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}
