@import './variables.scss';

.supporteds-list-page {
  height: 100vh;
  width: 100vw;
  position: relative;
}

@media screen and (min-width: 380px) {
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 700px) {
}
