//backgrounds:
$grad-purple-bgd: linear-gradient(360deg, #BAA6F1 -1.2%, rgba(166, 192, 241, 0) 112.26%);

//buttons
$chat-btn-border: 2px solid;
$chat-btn-border-img: linear-gradient(267.86deg, #736CFF 6.51%, #0159FF 100%);

//text
$default-text-color: #113A8C;
$chat-msg-text-color: black;
$chat-su-title-color: #848484;
$sub-text-color: #999999;
$ended-chats-color: #7F84A3;








