//backgrounds:
$all-grad-purple-bgd: linear-gradient(360deg, #baa6f1 -1.2%, rgba(166, 192, 241, 0) 112.26%);
$call-ended-prompt-bgd: #ffd9d9;
$btn-bgd: #ffffff;
$chat-input-bgd: #f4f1ff;
$chat-first-part-msg-bgd: #ffffff;
$chat-second-part-msg-bgd: #9360ff;
$chat-send-btn-bgd: #e5dbff;

//buttons
$all-pages-btn-radius: 20px;
$login-page-input-radius: 4px;
$chat-input-radius: 114px;

//text
$default-text-color: #113a8c;
$chat-msg-text-color: black;
$chat-su-title-color: #848484;
$sub-text-color: #999999;
$ended-chats-color: #7f84a3;
$waiting-page-text-color: #0e1c74;

//font sizes
$waiting-page-title-size: 32px;
$waiting-page-text-size: 16px;
$landing-page-text-size: 16px;
$waiting-page-sub-title-size: 18px;
$login-page-title-size: 24px;
$login-page-all-text-size: 14px;

//borders
$login-input-border: 1px solid #ffffff40;
$-border: 2px solid;
$support-list-have-msg-border-img: linear-gradient(267.86deg, #736cff 6.51%, #0159ff 100%);
$chat-btn-border: 2px solid;
$chat-btn-border-img: linear-gradient(267.86deg, #736cff 6.51%, #0159ff 100%);

//opacity
$login-input-opacity: 50%;
$calls-ended-opacity: 25%;

//general
$font: Assistant;
$login-hr-color: #6d69be;

//input
$input-outline-focus: 3px solid #6d69be;
$input-outline-error: 1px solid red;
